<h2>ユーザー詳細画面</h2>
<h4>画像</h4>
<p><%= attachment_image_tag @user, :image %></p>
<h4>ユーザーID</h4>
<p><%= @user.user_id %></p>
<h4>ユーザー名</h4>
<p><%= @user.name %></p>
<h4>メールアドレス</h4>
<p><%= @user.email %></p>

<h2>お気に入り</h2>
<% @favorites.each do |favorite| %>
  <h4>タイトル</h4>
  <p><%= favorite.post.title%></p>
<% end %>

<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to "ユーザー情報を変更する", edit_user_path(current_user) %>
  <%= link_to "アカウントを削除する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
<% end %>