<div class="container main">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>
      <div class="form-body p-4">
        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
          <% @post.errors.full_messages.each do |message| %>
            <br>・<%= message %>
          <% end %>
        <% end %>
        <%= form_with model: @post, local:true do |f| %>
        <div class="image">
          <p class="text-center"><%= attachment_image_tag @post, :image, :fill, 300, 300, fallback: "no_image.jpg", class:"mb-3" %></p>
        </div>
          <%= f.attachment_field :image, class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span>
            </div>
            <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
          </div>
          <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"本文をここに" %>
          <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-map-marker-alt"></i></span>
            </div>
            <%= f.text_field :address, id: 'address', class:"form-control", placeholder:"住所" %>
            <input type="button" value="ピンを指す" onclick="codeAddress()" class="btn btn-info ml-2">
            <%= f.hidden_field :latitude, id: 'latitude' %>
            <%= f.hidden_field :longitude, id: 'longitude' %>
          </div>
          <div id='map'></div>
          <hr>
          <%= f.submit '変更完了', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="script"></div>
<script>
  var map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    const latitude = parseFloat(document.getElementById("latitude").value);
    const longitude = parseFloat(document.getElementById("longitude").value);

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: latitude, lng: longitude},
      zoom: 16,
    });

    marker = new google.maps.Marker({
      position:  {lat: +latitude, lng: +longitude},
      map: map
    });
  }


  function codeAddress(){
    //検索フォームの入力内容を取得
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });

        var pos = marker.getPosition();
        var lat = pos.lat();
        var lng = pos.lng();

        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;

      } else {
        //検索結果が何もなかった場合に表示
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }

  var google_map_api_key = gon.google_map_api_key;
  var sc = document.createElement('script');
  sc.src = `https://maps.googleapis.com/maps/api/js?key=${google_map_api_key}&callback=initMap`;
  sc.async = true;
  sc.defer = true;
  document.getElementById('script').appendChild(sc);
</script>