<h2>新規投稿</h2>
<%= form_with model:@post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: '' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: '' %>
  </div>


  <div class="form-group">
    <%= f.label :image %>
    <%= f.attachment_field :image %>
  </div>

  <h2>gmap</h2>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder:'○○県○○市○○', id: 'address' %>
    <input type="button" value="ピンを指す" onclick="codeAddress()">
  </div>

  <%= f.hidden_field :latitude, id: 'latitude' %>
  <%= f.hidden_field :longitude, id: 'longitude' %>

  <div id='map'></div>

  <%= f.submit '投稿' %>
<% end %>

<div id="script"></div>
<script>
  var map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.6811673, lng: 139.7670516},
      zoom: 8,
    });
  }

  function codeAddress(){
    //検索フォームの入力内容を取得
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });

        var pos = marker.getPosition();
        var lat = pos.lat();
        var lng = pos.lng();

        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;

      } else {
        //検索結果が何もなかった場合に表示
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }

  var google_map_api_key = gon.google_map_api_key;
  var sc = document.createElement('script');
  sc.src = `https://maps.googleapis.com/maps/api/js?key=${google_map_api_key}&callback=initMap`;
  sc.async = true;
  sc.defer = true;
  document.getElementById('script').appendChild(sc);
</script>